/*
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2008 Will Green (wgreen at users.sourceforge.net)                  #
# CSS styling for printing                                                   #
##############################################################################
*/

.rack_physical_num,
a.rack_header
{
	color: black;
	background: white;
}

IMG,
#navbar,
#user_connection
{
	display: none;
}

#footer,
#footer a
{
	font-size: 6pt;
	color: black;
	text-decoration: none;
}