<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2008 Will Green (wgreen at users.sourceforge.net)                  #
# App default (table) template                                               #
##############################################################################
-->
<head>
	<title>Apps | RackMonkey</title>
	<style type="text/css" media="screen">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/itemtable.css";
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>
<body>
	<TMPL_INCLUDE NAME="nav-app.ssi">
	<div id="main">
		<form method="get" action="<TMPL_VAR NAME=base_url>">
			<p>
				<button style="margin-right: 20px" title="Create a new application" onclick="window.location = '<TMPL_VAR NAME=base_url>?view=app&amp;view_type=create'; return false;">New App</button>
			</p>
		</form>
		<table class="itemtable">
			<tr>
				<th><a title="Sort by name" href="<TMPL_VAR NAME=base_url>?view=app&amp;order_by=app.name">App</a></th>
				<th><a title="Sort by description" href="<TMPL_VAR NAME=base_url>?view=app&amp;order_by=app.descript">Description</a></th>	
				<th><a title="Sort by notes" href="<TMPL_VAR NAME=base_url>?view=app&amp;order_by=app.notes">Notes</a></th>		
			</tr>
			<TMPL_IF NAME=apps>
			<TMPL_LOOP NAME=apps>
			<TMPL_IF NAME="__odd__"><tr class="odd"><TMPL_ELSE><tr class="even"></TMPL_IF>
				<td><a title="View details for this application" href="<TMPL_VAR NAME=base_url>?view=app&amp;view_type=single&amp;id=<TMPL_VAR ESCAPE=URL NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></a></td>
				<td><TMPL_IF NAME=descript_short><span title="<TMPL_VAR ESCAPE=HTML NAME=descript>"><TMPL_VAR ESCAPE=HTML NAME=descript_short></span><TMPL_ELSE><TMPL_IF NAME=descript><TMPL_VAR ESCAPE=HTML NAME=descript><TMPL_ELSE>-</TMPL_IF></TMPL_IF></td>
				<td><TMPL_IF NAME=notes_short><span title="<TMPL_VAR ESCAPE=HTML NAME=notes>"><TMPL_VAR ESCAPE=HTML NAME=notes_short></span><TMPL_ELSE><TMPL_IF NAME=notes><TMPL_VAR ESCAPE=HTML NAME=notes><TMPL_ELSE>-</TMPL_IF></TMPL_IF></td>
			</tr>
			</TMPL_LOOP></TMPL_IF>
			<tr>
				<td colspan="3" class="footer">
					Showing <TMPL_VAR ESCAPE=HTML NAME=listed_app_count> of <TMPL_VAR ESCAPE=HTML NAME=total_app_count> apps
				</td>
			</tr>
		</table>
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>