<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2007 Will Green (wgreen at users.sourceforge.net)                  #
# Device create template                                                     #
##############################################################################
-->

<head>
	<title>Create Device | RackMonkey</title>
	<style type="text/css" media="screen">
		@import "<TMPL_VAR NAME=web_root>/styles/main.css";
		@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
		@import "<TMPL_VAR NAME=web_root>/styles/form.css";
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav-device.ssi">

<form  method="post" action="<TMPL_VAR NAME=base_url>">
<table class="form_wide">
<tr>
	<th class="form">create device</th>
</tr>
<tr>
	<td class="form">
		<div style="float: left; width: 280px;">
		<label>Name</label><br />
		<input type="text" size="32" name="name" value="" />
		</div>
		
		<div>
		<label>Domain</label><br />
		<select name="domain"><TMPL_LOOP NAME=domainlist>
		<option value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
		</select>
		</div>
		
		<hr />
				
		<div>
		<label>Location</label><br />
		Rack Position &nbsp; <input type="text" size="4" name="rack_pos" value="<TMPL_VAR ESCAPE=HTML NAME=rack_pos>" /> &nbsp; in &nbsp; 
		<select name="rack"><TMPL_LOOP NAME=racklist>
		<option <TMPL_IF NAME=selected>selected="selected"</TMPL_IF> value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
		</select>
		</div>
		
		<hr />
		
		<div style="clear: both; float: left; width: 280px;">
		<label>Hardware</label><br />
		<select name="hardware"><TMPL_LOOP NAME=hardwarelist>
		<option value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
		</select>
		</div>

		<div>
		<label>OS / Version</label><br />
		<select name="os"><TMPL_LOOP NAME=oslist>
		<option value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
		</select>
		<input type="text" size="8" name="os_version" value="" />
		</div>
		
		<div style="clear: both; float: left; width: 280px; margin-top: 8px;">
		<label>Role</label><br />
		<select name="role"><TMPL_LOOP NAME=rolelist>
		<option value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
		</select>
		<input type="checkbox" checked="checked" name="in_service" /> In Service
		</div>

		<div style="margin-top: 8px;">
		<label>Purchased (YYYY-MM-DD)</label><br />
		<input type="text" size="11" name="purchased" value="" />
		</div>

		<div style="clear: both; float: left; width: 280px; margin-top: 8px;">
		<label>Serial Number</label><br />
		<input type="text" size="32" name="serial_no" value="" />
		</div>
		
		<div style="margin-top: 8px;">
		<label>Asset Number</label><br />
		<input type="text" size="32" name="asset_no" value="" />
		</div>
				
		<div style="clear: both; float: left; width: 280px; margin-top: 8px;">
		<label>Customer</label><br />
		<select name="customer"><TMPL_LOOP NAME=customerlist>
		<option value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
		</select>
		</div>
		
		<div style="margin-top: 8px;">
		<label>Service Level</label><br />
		<select name="service"><TMPL_LOOP NAME=servicelist>
		<option value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
		</select>
		</div>
		
		<hr />

		<div style="clear: both;">
		<label>Notes</label><br />
		<textarea name="notes" cols="55" rows="4"></textarea>
		<hr/>
		<a href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default"><img style="float: left;" src="<TMPL_VAR NAME=web_root>/graphics/buttons/cancel.gif" width="48" height="21" alt="Cancel" /></a>
		<button style="float: right;" type="submit">Save</button>
		<input type="hidden" name="view" value="device" />
		<input type="hidden" name="view_type" value="single" />
		<input type="hidden" name="act" value="insert" />
		<input type="hidden" name="act_on" value="device" />
		</div>
		</td>
	</tr>
</table>
</form>	

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>