<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2007 Will Green (wgreen at users.sourceforge.net)                       #
# Device default asset table template                                        #
##############################################################################
-->

<head>
	<title>Devices: Asset Detail | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav.ssi">

<p style="float: left; margin-right: 30px;">
		<a href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=create"><img src="<TMPL_VAR NAME=web_root>/graphics/buttons/new.gif" width="47" height="21" alt="New" /></a> 
</p>

<form method="get" action="<TMPL_VAR NAME=base_url>">
<p>
	<input type="hidden" name="view" value="device"/>
	<label>View Type</label>
		<select name="view_type" onchange="submit()">
		<option value="default">Default</option>
		<option selected="selected" value="default_asset">Asset</option>
		<option value="default_extended">Extended</option>
	</select>
	&nbsp;&nbsp;
	<a href="#" onclick="javascript:showHide('filters');">Show/Hide Filters</a>
</p>
<p style="clear: both" id="filters">
	<label>Hardware</label>
	<select name="filter_device_hardware" onchange="submit()"><TMPL_LOOP NAME=hardwarelist>
	<option <TMPL_IF NAME=selected>selected="selected"</TMPL_IF> value="<TMPL_VAR NAME=id>"><TMPL_VAR NAME=name></option></TMPL_LOOP>
	</select>
</p>
</form>

<table style="clear:both" id="disTable">
	<tr>
		<th>
			<a class="sort" title="Sort by name" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default_asset&amp;order_by=device.name">Device</a> 
		</th>
		<th>
			<a class="sort" title="Sort by rack" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default_asset&amp;order_by=rack.name">Rack</a>
		</th>	
		<th>
			<a class="sort" title="Sort by room" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default_asset&amp;order_by=room.name">Room</a>
		</th>		
		<th>
			<a class="sort" title="Sort by hardware type" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default_asset&amp;order_by=device.hardware">Hardware</a>
		</th>
		<th>
			<a class="sort" title="Sort by serial number" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default_asset&amp;order_by=device.serial">Serial</a>
		</th>		
		<th>
			<a class="sort" title="Sort by asset tag" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default_asset&amp;order_by=device.asset">Asset</a>
		</th>			
		<th style="text-align: right">
			<a class="sort" title="Sort by purchase date" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default_asset&amp;order_by=device.purchased">Purchased</a>
		</th>
		<th style="text-align: right">
			<a class="sort" title="Sort by age" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default_asset&amp;order_by=device.purchased">Age</a>
		</th>		
	</tr><TMPL_LOOP NAME=devices>
	<TMPL_IF NAME="__odd__">
	<tr class="row_silver">
	<TMPL_ELSE>
	<tr class="row_white">
	</TMPL_IF>
		<td><a title="View details for this device" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=single&amp;id=<TMPL_VAR NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name><TMPL_UNLESS NAME=domain_meta_default_data>.<TMPL_VAR ESCAPE=HTML NAME=domain_name></TMPL_UNLESS></a></td>
		<td><TMPL_VAR ESCAPE=HTML NAME=rack_name><TMPL_UNLESS NAME=building_meta_default_data> [<TMPL_VAR NAME=rack_pos>]</TMPL_UNLESS></td>
		<td><TMPL_UNLESS NAME=building_meta_default_data><TMPL_VAR ESCAPE=HTML NAME=room_name> in <TMPL_IF NAME=building_name_short><TMPL_VAR ESCAPE=HTML NAME=building_name_short><TMPL_ELSE><TMPL_VAR ESCAPE=HTML NAME=building_name></TMPL_IF><TMPL_ELSE>N/A</TMPL_UNLESS></td>
		<td><TMPL_UNLESS NAME=hardware_meta_default_data><TMPL_VAR ESCAPE=HTML NAME=hardware_manufacturer_name> </TMPL_UNLESS><TMPL_VAR ESCAPE=HTML NAME=hardware_name></td>
		<td><TMPL_IF NAME=serial><TMPL_VAR ESCAPE=HTML NAME=serial><TMPL_ELSE>-</TMPL_IF></td>
		<td><TMPL_IF NAME=asset><TMPL_VAR ESCAPE=HTML NAME=asset><TMPL_ELSE>-</TMPL_IF></td>
		<td style="text-align: right"><TMPL_IF NAME=purchased><TMPL_VAR ESCAPE=HTML NAME=purchased><TMPL_ELSE>-</TMPL_IF></td>
		<td style="text-align: right"><TMPL_IF NAME=age><TMPL_VAR ESCAPE=HTML NAME=age><TMPL_ELSE>-</TMPL_IF></td>
	</tr></TMPL_LOOP>
</table>

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
