<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2007 Will Green (wgreen at users.sourceforge.net)                       #
# Device default table template                                              #
##############################################################################
-->

<head>
	<title>Devices | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav.ssi">

<form method="post" action="<TMPL_VAR NAME=base_url>">
<p>
	<a href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=create"><img style="float: left; margin-right: 20px" src="<TMPL_VAR NAME=web_root>/graphics/buttons/new.gif" width="47" height="21" alt="New" /></a>
	
	<input type="hidden" name="view" value="device"/>
	<label>View Type</label>
		<select name="view_type" onchange="submit()">
		<option selected="selected" value="default">Default</option>
		<option value="default_asset">Asset</option>
		<option value="default_extended">Extended</option>
		<option value="unracked">Unracked</option>
	</select>
	&nbsp;&nbsp;
	<a href="#" onclick="javascript:showHide('filters');">Show/Hide Filters</a> |
	<a href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default">Reset Filters</a>
</p>

<p style="clear: both" id="filters">
	<label>Customer</label>
	<select name="filter_device_customer" onchange="submit()"><TMPL_LOOP NAME=customerlist>
	<option <TMPL_IF NAME=selected>selected="selected"</TMPL_IF> value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
	</select>
	&nbsp;&nbsp;
	<label>Role</label>	
	<select name="filter_device_role" onchange="submit()"><TMPL_LOOP NAME=rolelist>
	<option <TMPL_IF NAME=selected>selected="selected"</TMPL_IF> value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
	</select>
	&nbsp;&nbsp;
	<label>Hardware</label>
	<select name="filter_device_hardware" onchange="submit()"><TMPL_LOOP NAME=hardwarelist>
	<option <TMPL_IF NAME=selected>selected="selected"</TMPL_IF> value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
	</select>
	&nbsp;&nbsp;
	<label>OS</label>
	<select name="filter_device_os" onchange="submit()"><TMPL_LOOP NAME=oslist>
	<option <TMPL_IF NAME=selected>selected="selected"</TMPL_IF> value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
	</select>	
</p>
</form>

<TMPL_IF NAME=devices>
<table style="clear:both">
	<tr>
		<th>
			<a class="sort" title="Sort by name" href="<TMPL_VAR NAME=base_url>?view=device&amp;order_by=device.name">Device</a> 
		</th>
		<th>
			<a class="sort" title="Sort by rack" href="<TMPL_VAR NAME=base_url>?view=device&amp;order_by=rack.name">Rack</a>
		</th>
		<th>
			<a class="sort" title="Sort by room" href="<TMPL_VAR NAME=base_url>?view=device&amp;order_by=room.name">Room</a>
		</th>			
		<th>
			<a class="sort" title="Sort by role" href="<TMPL_VAR NAME=base_url>?view=device&amp;order_by=role.name">Role</a>
		</th>			
		<th>
			<a class="sort" title="Sort by hardware type" href="<TMPL_VAR NAME=base_url>?view=device&amp;order_by=hardware.name">Hardware</a>
		</th>	
		<th>
			<a class="sort" title="Sort by operating system" href="<TMPL_VAR NAME=base_url>?view=device&amp;order_by=os.name">OS</a>
		</th>	
		<th>
			<a class="sort" title="Sort by customer" href="<TMPL_VAR NAME=base_url>?view=device&amp;order_by=customer.name">Customer</a>
		</th>	

	</tr><TMPL_LOOP NAME=devices>
	<TMPL_IF NAME="__odd__">
	<tr class="row_silver">
	<TMPL_ELSE>
	<tr class="row_white">
	</TMPL_IF>
		<td><a title="View details for this device" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=single&amp;id=<TMPL_VAR ESCAPE=URL NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name><TMPL_UNLESS NAME=domain_meta_default_data>.<TMPL_VAR ESCAPE=HTML NAME=domain_name></TMPL_UNLESS></a></td>
		<td><TMPL_VAR ESCAPE=HTML NAME=rack_name><TMPL_UNLESS NAME=building_meta_default_data> [<TMPL_VAR ESCAPE=HTML NAME=rack_pos>]</TMPL_UNLESS></td>
		<td><TMPL_UNLESS NAME=building_meta_default_data><TMPL_VAR ESCAPE=HTML NAME=room_name> in <TMPL_IF NAME=building_name_short><TMPL_VAR ESCAPE=HTML NAME=building_name_short><TMPL_ELSE><TMPL_VAR ESCAPE=HTML NAME=building_name></TMPL_IF><TMPL_ELSE>N/A</TMPL_UNLESS></td>
		<td><TMPL_VAR ESCAPE=HTML NAME=role_name></td>
		<td><TMPL_UNLESS NAME=hardware_meta_default_data><TMPL_VAR ESCAPE=HTML NAME=hardware_manufacturer_name> </TMPL_UNLESS><TMPL_VAR ESCAPE=HTML NAME=hardware_name></td>
		<td><TMPL_VAR ESCAPE=HTML NAME=os_name><TMPL_IF NAME=os_version> <TMPL_VAR ESCAPE=HTML NAME=os_version></TMPL_IF></td>
		<td><TMPL_VAR ESCAPE=HTML NAME=customer_name></td>
	</tr></TMPL_LOOP>
</table>
<TMPL_ELSE>
<p>
	There are no device entries in RackMonkey, use the 'New' button to add some.
</p>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
