<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2007 Will Green (wgreen at users.sourceforge.net)                  #
# Device create template                                                     #
##############################################################################
-->

<head>
	<title>Create Device | RackMonkey</title>
	<style type="text/css" media="screen">
		@import "<TMPL_VAR NAME=web_root>/styles/main.css";
		@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
		@import "<TMPL_VAR NAME=web_root>/styles/form.css";
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav-device.ssi">

<div id="main">
<form method="post" action="<TMPL_VAR NAME=base_url>">
<table class="form">
	<tr>
		<th><span class="title">Create Device</span></th>
	</tr>
	<tr>
		<td>
			<TMPL_INCLUDE NAME="device-edit.ssi">
		</td>
	</tr>
	<tr>
		<td class="footer">		
			<button style="float: left" title="Cancel creating this device" onclick="window.location = '<TMPL_VAR NAME=base_url>?view=device&amp;view_type=default'; return false;">Cancel</button>
			<button style="float: right" title="Save this device" type="submit">Save</button>	
			<input type="hidden" name="view" value="device" />
			<input type="hidden" name="view_type" value="single" />
			<input type="hidden" name="act" value="insert" />
			<input type="hidden" name="act_on" value="device" />
			<span class="footer">&nbsp;</span>	
		</td>
	</tr>
</table>
</div>

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>