<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2008 Will Green (wgreen at users.sourceforge.net)                  #
# Hardware create template                                                   #
##############################################################################
-->

<head>
	<title>Create Hardware | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>

<body>

<TMPL_INCLUDE NAME="nav-config.ssi">

<form  method="post" action="<TMPL_VAR NAME=base_url>">
<table class="form">
<tr>
	<th class="form">create hardware</th>
</tr>
<tr>
	<td class="form">
		<label>Name</label><br />
		<input type="text" size="60" name="name" value="" />
		<br /><br />
		<label>Manufacturer [<a href="<TMPL_VAR NAME=base_url>?view=org&amp;view_type=create&amp;hardware=1&amp;return_view=hardware&amp;return_view_type=create">add</a>]</label><br />
		<select name="manufacturer_id">
		<TMPL_LOOP NAME=manufacturerlist>
		<option<TMPL_IF NAME=selected> selected="selected"</TMPL_IF> value="<TMPL_VAR ESCAPE=HTML NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></option></TMPL_LOOP>
		</select>
		<br /><br />
		<label>Size (U)</label><br />
		<input type="text" size="60" name="size" value="" />
		<br /><br />	
		<label>Image File</label><br />
		<input type="text" size="60" name="image" value="" />
		<br /><br />		
		<label>Support URL</label><br />
		<input type="text" size="60" name="support_url" value="" />
		<br /><br />	
		<label>Spec URL</label><br />
		<input type="text" size="60" name="spec_url" value="" />
		<br /><br />		
		<label>Notes</label><br />
		<textarea name="notes" cols="55" rows="4"></textarea>
		<hr/>
		<a href="<TMPL_VAR NAME=base_url>?view=hardware&amp;view_type=default&amp;>"><img style="float: left;" src="<TMPL_VAR NAME=web_root>/graphics/buttons/cancel.gif" width="48" height="21" alt="Cancel" /></a>
		<button style="float: right;" type="submit">Save</button>
		<input type="hidden" name="view" value="hardware" />
		<input type="hidden" name="view_type" value="single" />
		<input type="hidden" name="act" value="insert" />
		<input type="hidden" name="act_on" value="hardware" />
	</td>
</tr>
</table>
</form>	

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
