<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2007 Will Green (wgreen at users.sourceforge.net)                       #
# Help default template                                                      #
##############################################################################
-->

<head>
	<title>Help | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>
<TMPL_INCLUDE NAME="nav.ssi">

<h3>General Help</h3>
<p>
Welcome to RackMonkey help. RackMonkey's documentation is still a work in progress, check <a href="http://www.rackmonkey.org">rackmonkey.org</a> for updates.
You may find it helpful to open the help section in a separate tab or window so you can read it while working on RackMonkey.
</p>

<p>
In the RackMonkey help parts of the interface are referred to like this: [Config > Organisations], this means select config (from the menu) then choose organisations.
</p>

<h3>Getting Started</h3>
<p>
Before you can start adding your devices (servers, routers etc.) to RackMonkey you should add some basic information. You can always edit or add to this information later.
</p>
<ul>
 	<li>Add at least one rack. To do this, add a building, a room, then a rack. [Locations]</li>
	<li>Add your own organisation and mark it as a customer so you can assign it to devices used internally. [Config > Organisations]</li>
</ul>
<p>You may also like to do some of the following to save time later:</p>
<ul>
	<li>If you have a few key customers, add them as organisations (being sure to mark them as customers). [Config > Organisations]</li>
	<li>Add some domains (e.g. flux.org.uk) [Config > Domains]</li>
	<li>Add some hardware models (e.g. Dell 2950) [Config > Hardware]</li>
	<li>If you have differing support levels for different devices, add them [Config > Service Levels]</li>
	<li>Add extra roles if the included roles aren't suitable [Config > Roles]</li>
	<li>Add extra operating systems if OS you use aren't already on the list [Config > Operating Systems]</li>
</ul>

<p>You are now ready to add devices:</p>

<ul>
	<li>You can add them from the devices view [Devices]</li>
	<li>You can add from rack layout view. This is more convenient if you're adding devices a rack at a time or want to find a free spot for a device. [Locations]</li>
</ul>

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
