<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2008 Will Green (wgreen at users.sourceforge.net)                  #
# Help default template                                                      #
##############################################################################
-->
<head>
	<title>First Steps | RackMonkey</title>
	<style type="text/css" media="screen">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/help.css";
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>
<body>
	<TMPL_INCLUDE NAME="nav-help.ssi">
	<div id="main">
		<p>
			<a href="<TMPL_VAR NAME=base_url>?view=help">Help Overview</a> |
			<strong>First Steps</strong> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=getting_support">Getting Support</a> |
			<a href="http://www.rackmonkey.org/faq">Online FAQ</a> |
			<a href="http://www.rackmonkey.org/doc/1.2.4">Online Docs</a>
		</p>
		<h2>First Steps</h2>
		<p><em>If you have just installed RackMonkey then you should read this page. If you are a new user of an existing RackMonkey install you should
			read the <a href="<TMPL_VAR NAME=base_url>?view=help">Help Overview</a> instead.</em>
		</p>
		<p>
			You have RackMonkey up and running, but before you can start adding your devices (servers, routers etc.) you should add some basic items. You can always edit or add to this information later.
		</p>
		<ul>
			<li>Add at least one rack to put your devices in. To do this, add a building, a room, then a rack. <strong>Buildings</strong> and <strong>Rooms</strong> can be found under <strong>[Config]</strong>.</li>
			<li>Add your own <strong>organisation</strong> (company, department etc.) and mark it as a customer so you can assign it to devices used internally. <strong>[Config > Organisations]</strong></li>
		</ul>
		<p>You may also like to do some of the following to save time later:</p>
		<ul>
			<li>If you have a few key customers, add them as organisations (being sure to mark them as customers). <strong>[Config > Organisations]</strong></li>
			<li>Add some domains (e.g. flux.org.uk) <strong>[Config > Domains]</strong></li>
			<li>Add some hardware models (e.g. Dell 2950) <strong>[Config > Hardware]</strong></li>
			<li>If you provide differing support levels for different devices, you may wish to add them <strong>[Config > Service Levels]</strong></li>
			<li>Add extra roles if the included roles aren't suitable <strong>[Config > Roles]</strong></li>
			<li>Add extra operating systems if OS you use aren't already on the list <strong>[Config > Operating Systems]</strong></li>
		</ul>
		<p>You are now ready to add devices:</p>
		<ul>
			<li>You can add them from the devices view <strong>[Devices]</strong></li>
			<li>You can add from rack layout view. This is more convenient if you're adding devices a rack at a time or want to find a free spot for a device. Select the rack from the dropdown at the top right of every view, or select the <strong>[Racks]</strong> tab.</li>
		</ul>
		<p>For general information on using RackMonkey see <a href="<TMPL_VAR NAME=base_url>?view=help">Help Overview</a>.</p>
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>