<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2008 Will Green (wgreen at users.sourceforge.net)                  #
# Help default template                                                      #
##############################################################################
-->
<head>
	<title>Getting Starting | RackMonkey</title>
	<style type="text/css" media="screen">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/itemtable.css";
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>
<body>
	<TMPL_INCLUDE NAME="nav-help.ssi">
	<div id="main">
		<p>
			<a href="<TMPL_VAR NAME=base_url>?view=help">Help Overview</a> |
			<strong>Getting Started</strong> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=getting_support">Getting Support</a> |
			<a href="http://www.rackmonkey.org/faq">Online FAQ</a> |
			<a href="http://www.rackmonkey.org/docs/1.2.4">Online Docs</a>
		</p>
		<h3>Getting Started</h3>
		<p><em>If you have just installed RackMonkey then you should read this page. If you are a new user of an existing RackMonkey install you should
			read the <a href="<TMPL_VAR NAME=base_url>?view=help">Help Overview</a> instead.</em>
		</p>
		<p>
			You have RackMonkey up and running, but before you can start adding your devices (servers, routers etc.) you should add some basic information. You can always edit or add to this information later.
		</p>
		<ul>
			<li>Add at least one rack. To do this, add a building, a room, then a rack. [Locations]</li>
			<li>Add your own organisation and mark it as a customer so you can assign it to devices used internally. [Config > Organisations]</li>
		</ul>
		<p>You may also like to do some of the following to save time later:</p>
		<ul>
			<li>If you have a few key customers, add them as organisations (being sure to mark them as customers). [Config > Organisations]</li>
			<li>Add some domains (e.g. flux.org.uk) [Config > Domains]</li>
			<li>Add some hardware models (e.g. Dell 2950) [Config > Hardware]</li>
			<li>If you have differing support levels for different devices, add them [Config > Service Levels]</li>
			<li>Add extra roles if the included roles aren't suitable [Config > Roles]</li>
			<li>Add extra operating systems if OS you use aren't already on the list [Config > Operating Systems]</li>
		</ul>
		<p>You are now ready to add devices:</p>
		<ul>
			<li>You can add them from the devices view [Devices]</li>
			<li>You can add from rack layout view. This is more convenient if you're adding devices a rack at a time or want to find a free spot for a device. [Locations]</li>
		</ul>
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>