<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2008 Will Green (wgreen at users.sourceforge.net)                  #
# Help default template                                                      #
##############################################################################
-->
<head>
	<title>Help | RackMonkey</title>
	<style type="text/css" media="screen">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/help.css";
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>
<body>
	<TMPL_INCLUDE NAME="nav-help.ssi">
	<div id="main">
		<p>
			<strong>Help Overview</strong> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=first_steps">First Steps</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=getting_support">Getting Support</a> |
			<a href="http://www.rackmonkey.org/faq">Online FAQ</a> |
			<a href="http://www.rackmonkey.org/docs/1.2.4">Online Docs</a>
		</p>
		<h2>Introduction</h2>
		<p>
			Welcome to RackMonkey help.
			You may find it helpful to open the help section in a separate tab or window so you can read it while using RackMonkey.
			RackMonkey's documentation is still a work in progress, check the <a href="http://www.rackmonkey.org/doc/1.2.4">online documentation</a> for the latest updates.
		</p>
		<p>
		In the RackMonkey help parts of the interface are referred to like this: <strong>[Config > Organisations]</strong>, this means select the Config tab at the top of the screen then choose organisations. The help includes screenshots, letters in brackets, such as (E), refer to a label on a screenshot.
		</p>
		<p><strong>Tip:</strong> Hovering your mouse over many items (such as buttons) provides additional information.</p>
		<h3>RackMonkey Organisation</h3>
		<ul>
			<li>Servers, routers, switches etc. are <strong>devices</strong> and are contained within <strong>racks</strong>.</li>
			<li>A <strong>device</strong> has a <strong>hardware</strong> model and an <strong>operating system</strong>.</li>
			<li>A <strong>device</strong> has a <strong>domain</strong>, a <strong>role</strong>, a <strong>customer</strong> and a <strong>service level</strong>.</li>
			<li><strong>Apps</strong> run on <strong>devices</strong>.</li>
			<li><strong>Racks</strong> are organised in <strong>rows</strong> which reside in <strong>rooms</strong> within <strong>buildings</strong>.</li>
		</ul>
		
		<h2>Getting Started</h2>
		<p>
			If you have just installed RackMonkey you should read <a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=first_steps">First Steps</a>. Otherwise, read on to get an introduction to using RackMonkey.
		</p>

		<h3>Working with Racks</h3>
		<p>
		You can get to the Racks view by clicking on the <strong>[Racks]</strong> tab in the navigation bar at the top of the screen. This view gives you an overview of your racks, which room they reside in and the number of devices they contain. If you click on the link in the <strong>Layout</strong> column (A in screenshot) you will see the <strong>physical</strong> layout of the rack (see below for details of this view). If you want to see multiple racks side-by-side, select the check boxes in the Racks view (B) and click the <strong>Device Layout</strong> button the bottom of the Racks view (C). You can also view the physical view of a rack at by using the dropdown (D) and create a new rack with the <strong>New Rack</strong> button (E).
		</p>
		<img src="<TMPL_VAR NAME=web_root>/graphics/help/racks_view.png" width="730" height="241" alt="" class="screenshot" />
		<p>
		In the <strong>physical</strong> rack view you can see the contents of your racks. You can jump to physical view at any time using the dropdown (D in the above screenshot). This view shows the name (F in the screenshot, below) and hardware type of the device (in the screenshot example, Sun Fire T2000: you can hover over the hardware name to see the manufacturer).
		If you want to view more details on a device, simple click on its name (F). To edit a device, click on the <strong>Ed</strong> link (G).
		You can add a new device to a rack at a given position by clicking on the <strong>+</strong> symbol (H). This is a fast way to populate a new rack with devices. To move a device to a different position, select the <strong>Ed</strong> link and update the <strong>Location</strong>.
		</p>
		<img src="<TMPL_VAR NAME=web_root>/graphics/help/racks_physical_view.png" width="255" height="317" alt="" class="screenshot" />
		
						
		<h3>Working with Devices</h3>
		<p>
		To find a device, enter its name, serial or asset number into the box at the top right of every view, then click <strong>Find</strong>.
		The search is not case sensitive and will also find partial matches. For example, searching for 'www' will find devices called 'WWW', 'www21' and 'www22'.
		</p>
		
		<p>
		<em>This section is not yet complete, but will appear in the release version of RackMonkey v1.2.4.</em>
		</p>
		
		<h3>Working with Apps</h3>
		<p>
		<em>Applications won't be fully supported until v1.2.5. This section will be written for that release.</em>
		</p>
		
		<h3>Working with Config: Rooms, Hardware, OS, Organisations etc.</h3>
		<p>
		<em>This section is not yet complete, but will appear in the release version of RackMonkey v1.2.4.</em>
		</p>
		
		<h3>Working with Reports</h3>
		<p>
		<em>This section is not yet complete, but will appear in the release version of RackMonkey v1.2.4.</em>
		</p>
		
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>