<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2009 Will Green (wgreen at users.sourceforge.net)                  #
# Help default template                                                      #
##############################################################################
-->
<head>
	<title>RackMonkey User Guide</title>
	<style type="text/css" media="all">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/help.css";
	</style>
	<style type="text/css" media="print">
	@import "<TMPL_VAR NAME=web_root>/styles/print.css";	
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>
<body>
	<TMPL_INCLUDE NAME="nav-help.ssi">
	<div id="main">
		<p id="help_nav">
			<a href="<TMPL_VAR NAME=base_url>?view=help">Help Overview</a> |
			<strong>User Guide</strong> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=admin">Admin Guide</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=errors">Error Messages</a> |	
			<a href="http://www.rackmonkey.org/doc/1.2.4">Docs (online)</a> |
			<a href="http://www.rackmonkey.org/faq">FAQ (online)</a> |
			<a href="http://www.rackmonkey.org/issues">Bugs &amp; Issues (online)</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=getting_support">Getting Support</a>
		</p>
		<h2>RackMonkey User Guide</h2>
		<p>
			This guide will help you get started with RackMonkey and demonstrate some of its key features.
			This page includes screenshots: letters in brackets, such as <strong>(E)</strong>, are used to refer to different screenshot areas from within the text.
			This document is updated from time to time: you can always read the latest version at <a href="http://www.rackmonkey.org/doc/1.2.4">rackmonkey.org</a>. 
		</p>
		<p><strong>Tip:</strong> Hovering your mouse over many items interface items (such as buttons) provides additional information.</p>
		<h3>Interface Basics</h3>
		<h4>Navigation</h4>
		<img src="<TMPL_VAR NAME=web_root>/graphics/help/navbar.png" width="734" height="48" alt="" class="screenshot" />
		<p>The top of every RackMonkey screen looks similar to the screenshot above. There is a set of tabs <strong>(A)</strong> that provide access to the key parts of the application, a dropdown to jump to a physical view of a rack <strong>(B)</strong> and a search box <strong>(C)</strong> which allows you to find devices  by name, serial or asset number. The search is not case-sensitive and will also find partial matches. For example, searching for 'www' will find devices called 'WWW', 'www21' and 'www22'.</p>
		<h4>RackMonkey Organisation</h4>
		<ul>
			<li>Servers, routers, switches etc. are <strong>devices</strong> and are contained within <strong>racks</strong>.</li>
			<li>A <strong>device</strong> has a <strong>hardware</strong> model and an <strong>operating system</strong>.</li>
			<li>A <strong>device</strong> has a <strong>domain</strong> (such as rackmonkey.org), a <strong>role</strong> (such as database server), a <strong>customer</strong> and a <strong>service level</strong>.</li>
			<li><strong>Apps</strong> run on <strong>devices</strong>.</li>
			<li><strong>Racks</strong> are organised in <strong>rows</strong> which reside in <strong>rooms</strong> within <strong>buildings</strong>.</li>
		</ul>
		<h3>Config</h3>		
		<p>
			The <strong>Config</strong> tab contains most of the basic building blocks of RackMonkey data. Here you can configure <strong>Buildings</strong>, <strong>Rooms</strong>, <strong>Domains</strong>, <strong>Hardware</strong> models, <strong>Operating Systems</strong>, <strong>Organisations</strong> (such as customers and manufacturers), <strong>Roles</strong> and <strong>Service Levels</strong>. It's a good idea to add your own commonly used items to these categories when you start using RackMonkey. If the sample data was installed with RackMonkey you will have a selection of operating systems and hardware to get you started (see the install documentation for information on sample data).
		</p>
		<img src="<TMPL_VAR NAME=web_root>/graphics/help/config.png" width="734" height="315" alt="" class="screenshot" />
		<h3 class="print_break">Working with Devices</h3>
		<h4>Deciding How to View Devices</h4>
		<p>
			The <strong>Devices</strong> tab (screenshot below) allows you to see all the devices and their configuration. There are several devices views which present different information; you can select an alternate view from the <em>View Type</em> dropdown <strong>(A)</strong>. For example, if you are interested in asset information (such as serial number and age of device), choose the <em>Asset</em> view. To sort the table by a particular column click on its name; for example you could sort devices by <em>Customer</em> rather than the default name (chosen by clicking on the <em>Device</em> column). You can show/hide domain information for devices by clicking the <em>.dom</em> link <strong>(D)</strong>.
		</p>
		<p>
			The <em>Show Filters</em> button <strong>(C)</strong> brings up the filter options that allow you to narrow down the devices shown to those of interest; for example you can show all devices for a given customer or all those running Ubuntu. To return to a view of all devices, click the <em>Reset</em> button at the right of the filters or select the <em>Show All</em> link (not pictured) in the table footer. 
		</p>
		<h4>Working with Individual Devices</h4>
		<p>
			To view the full details for an individual device, select its name <strong>(E)</strong>. This brings up a separate screen which also allows you to edit, copy or delete the device. You can also edit a device directly be selecting the edit button next to its name <strong>(F)</strong>. To view a device within its rack, select the link in the rack column <strong>(G)</strong>. The <em>New Device</em> button <strong>(B)</strong> allows you to create a new device; if populating a whole rack you may find it easier to do this Racks Physical View (discussed below).
		</p>		
		<img src="<TMPL_VAR NAME=web_root>/graphics/help/devices.png" width="734" height="420" alt="" class="screenshot" />
		<h3 class="print_break">Racks</h3>
		<h4>Racks Table</h4>
		<p>
			The <strong>Racks</strong> view (screenshot below) gives you an overview of your racks: which room they reside in and the number of devices they contain. To view the details of a particular rack select its name <strong>(B)</strong>. To view the layout of devices within a rack select the relevant entry in the layout column <strong>(D)</strong> (See Racks Physical View, below, for details). If you want to see multiple racks side-by-side, select the check boxes next to the racks you wish to view <strong>(F)</strong> (selecting the check mark in the top column toggles the selected racks) and click the <em>Device Layout</em> button <strong>(G)</strong>. You can sort the racks table by clicking on the headings at the top of the table. For example selecting <em>Free U</em> will sort the racks from least to most free space.
		</p>
		<p>
			You can see the number of devices within a rack in the <em>Layout</em> column <strong>(D)</strong>. The total and used space in rack units are shown
			in the <em>Size (U)</em> and <em>Free (U)</em> columns <strong>(E)</strong>. To create a new rack use the button <strong>(A)</strong>, to edit a rack select the <em>Edit</em> button next to its name <strong>(C)</strong>.
		</p>
		<img src="<TMPL_VAR NAME=web_root>/graphics/help/racks.png" width="734" height="452" alt="" class="screenshot" />
		<h4 class="print_break">Racks Physical View</h4>
		<p>
			In the <strong>Physical Rack</strong> View (screenshot below) you can see the contents of your racks. You can jump to physical view at any time using the dropdown <strong>(C)</strong>. This view shows the name and hardware type of the device of each device <strong>(A)</strong> (you can hover over the hardware name to see the manufacturer) together with an <em>[Ed]</em> link which allows you to edit the device.
			You can add a new device to a rack at a given position by clicking on the <strong>+</strong> symbol <strong>(B)</strong>. This is a fast way to populate a new rack with devices.
		</p>
		<p>In order to view more than one rack side-by-side you need to select them in the Racks Table (see above).</p>
		<img src="<TMPL_VAR NAME=web_root>/graphics/help/racksphysical.png" width="734" height="395" alt="" class="screenshot" />
		<h3>Reports</h3>
		<p>
			The <strong>Reports</strong> tab gives you information on all your devices and racks. For example, you can see the total space available in your racks
			as well as the customers with the most devices, most common operating systems etc. The reports view will be expanded upon in future releases.
		</p>
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>