<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2009 Will Green (wgreen at users.sourceforge.net)                  #
# Power default (table) template                                             #
##############################################################################
-->
<head>
	<title>Power | RackMonkey</title>
	<style type="text/css" media="screen">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/itemtable.css";
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>
<body>
	<TMPL_INCLUDE NAME="nav-power.ssi">
	<div id="main">
		<p><strong>You can't manage power in this release of RackMonkey. This view is a placeholder for a future release.</strong></p>
		<p>For the latest information on RackMonkey releases visit <a href="http://www.rackmonkey.org">http://www.rackmonkey.org</a>.</p>
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>