<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2007 Will Green (wgreen at users.sourceforge.net)                       #
# Rack create template                                                       #
##############################################################################
-->

<head>
	<title>Create Rack | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav.ssi">

<form style="margin-top: 15px;" method="post" action="<TMPL_VAR NAME=base_url>">
<table class="form">
<tr>
	<th class="form">create rack</th>
</tr>
<tr>
	<td class="form">

	<label>Name</label><br />
	<input type="text" size="60" name="name" value="" />
	<br /><br />

	<label>Row</label><br />
	<span style="font-size: smaller">Not yet supported.</span>
	<br /><br />
	
	<label>Room [<a href="<TMPL_VAR NAME=base_url>?view=room&amp;view_type=create&amp;return_view=rack&amp;return_view_type=create">add</a>]</label><br />
	<select name="room"><!-- <TMPL_VAR NAME=room> <TMPL_VAR ESCAPE=HTML NAME=room_name> <TMPL_VAR ESCAPE=HTML NAME=building_name> --><TMPL_LOOP NAME=roomlist>
		<option <TMPL_IF NAME=selected>selected="selected"</TMPL_IF> value="<TMPL_VAR NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name> in <TMPL_IF NAME=building_name_short><TMPL_VAR NAME=building_name_short><TMPL_ELSE><TMPL_VAR NAME=building_name></TMPL_IF></option></TMPL_LOOP>
	</select>
	<br /><br />	
	
	<label>Size (U)</label><br />
	<input type="text" size="4" name="size" value="" />
	<br /><br />	
	
	<label>Notes</label><br />
	<textarea name="notes" cols="55" rows="4"></textarea>
	
	<hr/>
	
	<TMPL_IF NAME=return_view>
	<input type="hidden" name="view" value="<TMPL_VAR ESCAPE=HTML NAME=return_view>" />
	<input type="hidden" name="view_type" value="<TMPL_VAR ESCAPE=HTML NAME=return_view_type>" />
	<input type="hidden" name="id" value="<TMPL_VAR ESCAPE=HTML NAME=return_view_id>" />
	<a href="<TMPL_VAR NAME=base_url>?view=<TMPL_VAR ESCAPE=HTML NAME=return_view>&amp;view_type=<TMPL_VAR ESCAPE=HTML NAME=return_view_type>&amp;id=<TMPL_VAR ESCAPE=HTML NAME=return_view_id>"><img style="float: left;" src="<TMPL_VAR NAME=web_root>/graphics/buttons/cancel.gif" width="48" height="21" alt="Cancel" /></a>
	<TMPL_ELSE>
	<input type="hidden" name="view" value="rack" />
	<input type="hidden" name="view_type" value="single" />
	<a href="<TMPL_VAR NAME=base_url>?view=rack&amp;view_type=default"><img style="float: left;" src="<TMPL_VAR NAME=web_root>/graphics/buttons/cancel.gif" width="48" height="21" alt="Cancel" /></a>
	</TMPL_IF>
	
	<input type="hidden" name="act" value="insert" />
	<input type="hidden" name="act_on" value="rack" />
	<button style="float: right;" type="submit">Save</button>
	</td>
</tr>
</table>
</form>
<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
