<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
########################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org
# Version 1.2.%BUILD%
# (C)2007 Will Green (wgreen at users.sourceforge.net)
# Rack edit template
########################################################################
-->

<head>
	<title>Edit <TMPL_VAR ESCAPE=HTML NAME=name> | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav.ssi">

<form method="get" action="<TMPL_VAR NAME=base_url>">
<p>
	<input type="hidden" name="id" value="<TMPL_VAR NAME=id>" />
	<input type="hidden" name="view" value="physical" />
	<input type="hidden" name="update" value="1" />
</p>

<table style="background: silver; border: none">
<tr>
	<th class="form" colspan="2">Edit Rack</th>
</tr>
<tr>
	<td>Name:</td>
	<td><input type="text" size="48" name="name" value="<TMPL_VAR ESCAPE=HTML NAME=name>" /></td>
</tr>
<tr>
	<td>Room:</td>
	<td>
		<select name="room"><!-- <TMPL_VAR NAME=room> <TMPL_VAR ESCAPE=HTML NAME=room_name> <TMPL_VAR ESCAPE=HTML NAME=building_name> --><TMPL_LOOP NAME=roomlist>
		<option <TMPL_IF NAME=selected>selected="selected"</TMPL_IF> value="<TMPL_VAR NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name> in <TMPL_VAR ESCAPE=HTML NAME=building_name></option></TMPL_LOOP>
		</select>
	</td>
</tr>
<tr>
	<td>Size (RU):</td>
	<td><input type="text" size="48" name="size" value="<TMPL_VAR NAME=size>" /></td>
</tr>
<tr>
	<td colspan="2">Notes<br /><textarea name="notes" cols="60" rows="8"><TMPL_VAR ESCAPE=HTML NAME=notes></textarea></td>
</tr>
</table>

<p>
	<input type="image" src="<TMPL_VAR NAME=web_root>/graphics/buttons/save.gif" name="submit" value="Save"/>
	<a href="<TMPL_VAR NAME=base_url>?view=physical&amp;id=<TMPL_VAR NAME=id>"><img src="<TMPL_VAR NAME=web_root>/graphics/buttons/cancel.gif" alt="cancel" width="71" height="28" /></a>
	<a href="<TMPL_VAR NAME=base_url>?view=rack_table&amp;delete=1&amp;id=<TMPL_VAR NAME=id>"><img src="<TMPL_VAR NAME=web_root>/graphics/buttons/delete.gif" alt="cancel" width="71" height="28" /></a>
</p>

</form>

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
