<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2007 Will Green (wgreen at users.sourceforge.net)                       #
# Rack physical template                                                     #
##############################################################################
-->

<head>
	<title>Rack Device Layout | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav.ssi">

<TMPL_LOOP NAME=rack_list>
<table class="rack_physical">
<tr>
	<th class="rack_header" colspan="2">
		<a class="rack_header" href="<TMPL_VAR NAME=base_url>?view=rack&amp;view_type=single&amp;id=<TMPL_VAR ESCAPE=URL NAME=id>">Rack <TMPL_VAR ESCAPE=HTML NAME=name> in <TMPL_VAR ESCAPE=HTML NAME=room_name></a> 
	</th>
</tr>
<TMPL_LOOP NAME=rack_layout>
	<tr>
		<td class="rack_physical_num"><TMPL_VAR ESCAPE=HTML NAME=rack_pos></td>
		<TMPL_IF NAME=hardware_size><td rowspan="<TMPL_VAR ESCAPE=HTML NAME=hardware_size>" <TMPL_IF NAME=is_selected>class="rack_physical_selected"<TMPL_ELSE><TMPL_IF NAME=name>class="rack_physical_dev"<TMPL_ELSE>class="rack_physical_empty"</TMPL_IF></TMPL_IF>>
		<TMPL_IF NAME=name> <a class="racklayout" title="View details for <TMPL_VAR ESCAPE=HTML NAME=name><TMPL_UNLESS NAME=domain_meta_default_data>.<TMPL_VAR ESCAPE=HTML NAME=domain_name></TMPL_UNLESS>" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=single&amp;id=<TMPL_VAR ESCAPE=URL NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></a></TMPL_IF>
		<TMPL_IF NAME=hardware_name>(<span title="Hardware: <TMPL_UNLESS NAME=hardware_meta_default_data><TMPL_VAR ESCAPE=HTML NAME=hardware_manufacturer_name> </TMPL_UNLESS><TMPL_VAR ESCAPE=HTML NAME=hardware_name>"><TMPL_VAR ESCAPE=HTML NAME=hardware_name></span>)</TMPL_IF>
		<TMPL_IF NAME=name> [<a class="racklayout" title="Edit device '<TMPL_VAR ESCAPE=HTML NAME=name>'" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=edit&amp;id=<TMPL_VAR ESCAPE=URL NAME=id>">Ed</a>]
		<TMPL_ELSE><a class="racklayout" title="Add a device in this rack at this location" href="<TMPL_VAR NAME=base_url>?view=device&amp;view_type=create&amp;select_rack=<TMPL_VAR ESCAPE=URL NAME=rack_id>&amp;select_position=<TMPL_VAR ESCAPE=URL NAME=rack_pos>">[+]</a></TMPL_IF></td></TMPL_IF>
	</tr></TMPL_LOOP>
</table>
</TMPL_LOOP>

<p>
<br style="clear: both" />
</p>
<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
