<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2008 Will Green (wgreen at users.sourceforge.net)                  #
# Role default (table) template                                              #
##############################################################################
-->

<head>
	<title>Roles | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav.ssi">

<p>
		<a href="<TMPL_VAR NAME=base_url>?view=role&amp;view_type=create"><img src="<TMPL_VAR NAME=web_root>/graphics/buttons/new.gif" width="47" height="21" alt="New" /></a>
</p>

<TMPL_IF NAME=roles>
<table>
	<tr>
		<th>
			<a class="sort" title="Sort by name" href="<TMPL_VAR NAME=base_url>?view=role&amp;order_by=role.name">Role</a> 
		</th>
		<th>
			<a class="sort" title="Sort by description" href="<TMPL_VAR NAME=base_url>?view=role&amp;order_by=role.descript">Description</a> 
		</th>	
	</tr><TMPL_LOOP NAME=roles>
	<TMPL_IF NAME="__odd__">
	<tr class="row_silver">
	<TMPL_ELSE>
	<tr class="row_white">
	</TMPL_IF>
		<td><a title="View details for this role" href="<TMPL_VAR NAME=base_url>?view=role&amp;view_type=single&amp;id=<TMPL_VAR ESCAPE=URL NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></a></td>
		<td><TMPL_IF NAME=descript_short><span title="<TMPL_VAR ESCAPE=HTML NAME=descript>"><TMPL_VAR ESCAPE=HTML NAME=descript_short></span><TMPL_ELSE><TMPL_IF NAME=descript><TMPL_VAR ESCAPE=HTML NAME=descript><TMPL_ELSE>-</TMPL_IF></TMPL_IF></td>
	</tr>
	</TMPL_LOOP>
</table>
<TMPL_ELSE>
<p>
	There are no role entries in RackMonkey, use the 'New' button to add some.
</p>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>
