<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2007 Will Green (wgreen at users.sourceforge.net)                  #
# Role single view template                                                  #
##############################################################################
-->

<head>
	<title><TMPL_VAR ESCAPE=HTML NAME=name> | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav.ssi">

<table class="form">
<tr>
	<th class="form">
		<a href="<TMPL_VAR NAME=base_url>?view=role&amp;view_type=create"><img style="float:right; margin-left: 4px;" src="<TMPL_VAR NAME=web_root>/graphics/buttons/new.gif" width="47" height="21" alt="New" /></a>
		<a href="<TMPL_VAR NAME=base_url>?view=role"><img style="float:right; margin-left: 4px;" src="<TMPL_VAR NAME=web_root>/graphics/buttons/view_all.gif" width="55" height="21" alt="View All" /></a>
		roles
	</th>
</tr>
<tr>
	<td class="form">
		<label>Name</label><br />
		<TMPL_VAR ESCAPE=HTML NAME=name>
		&nbsp; <a class="small" title="View devices in this role" href="<TMPL_VAR NAME=base_url>?view=device&amp;filter_device_role=<TMPL_VAR ESCAPE=URL NAME=id>">Devices in this role&hellip;</a>
		<br /><br />	
			
		<label>Description</label><br />
		<TMPL_IF NAME=descript><TMPL_VAR ESCAPE=HTML NAME=descript><TMPL_ELSE>&nbsp;-</TMPL_IF>

		<TMPL_IF NAME=notes>
		<br /><br />
		<label>Notes</label><br />
		<TMPL_VAR ESCAPE=HTML NAME=notes>
		</TMPL_IF>	

		<hr/>
		
		<TMPL_UNLESS NAME=meta_default_data><a href="<TMPL_VAR NAME=base_url>?view=role&amp;view_type=default&amp;act=delete&amp;act_on=role&amp;act_id=<TMPL_VAR ESCAPE=URL NAME=id>"><img style="float:left;" src="<TMPL_VAR NAME=web_root>/graphics/buttons/delete.gif" width="48" height="21" alt="Delete" /></a></TMPL_UNLESS>
		<a href="<TMPL_VAR NAME=base_url>?view=role&amp;view_type=edit&amp;id=<TMPL_VAR ESCAPE=URL NAME=id>"><img style="float:right;" src="<TMPL_VAR NAME=web_root>/graphics/buttons/edit.gif" width="48" height="21" alt="Edit" /></a>		

		<p class="updated">Entry last updated by <TMPL_VAR ESCAPE=HTML NAME=meta_update_user> at <TMPL_VAR ESCAPE=HTML NAME=meta_update_time> GMT</p>
	</td>
</tr>
</table>

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
