<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!-- 
########################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org
# Version 1.2.%BUILD%
# (C)2007 Will Green (wgreen at users.sourceforge.net)
# Room default (table) template
########################################################################
-->

<head>
	<title>Rooms | RackMonkey</title>
	<link rel="stylesheet" type="text/css" title="Monkey Style" href="<TMPL_VAR NAME=web_root>/styles/rackmonkey.css" />
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
</head>

<body>

<TMPL_INCLUDE NAME="nav.ssi">

<!-- temporary navigation -->
<p>
	<a href="<TMPL_VAR NAME=base_url>?view=building&amp;view_type=default">View Building Summary</a> | <a href="<TMPL_VAR NAME=base_url>?view=rack&amp;view_type=default">View Rack Summary</a>
</p>
<!--- end of temporary navigation -->

<p>
	<a href="<TMPL_VAR NAME=base_url>?view=room&amp;view_type=create"><img src="<TMPL_VAR NAME=web_root>/graphics/buttons/new.gif" width="47" height="21" alt="New" /></a>
</p>

<TMPL_IF NAME=rooms>
<table>
	<tr>
		<th>&nbsp;</th>
		<th>
			<a class="sort" title="Sort by name" href="<TMPL_VAR NAME=base_url>?view=room&amp;order_by=room.name">Room</a>
		</th>
		<th>
			<a class="sort" title="Sort by name" href="<TMPL_VAR NAME=base_url>?view=room&amp;order_by=building.name">In Building</a>
		</th>		
		<th>
			<a class="sort" title="Sort by notes" href="<TMPL_VAR NAME=base_url>?view=room&amp;order_by=room.notes">Notes</a>
		</th>		
	</tr>
	<TMPL_LOOP NAME=rooms>
	<TMPL_IF NAME="__odd__">
	<tr class="row_silver">
	<TMPL_ELSE>
	<tr class="row_white">
	</TMPL_IF>
		<td><TMPL_UNLESS NAME=building_meta_default_data><input type="checkbox" disabled="disabled" name="<TMPL_VAR NAME=id>" /></TMPL_UNLESS></td>
		<td><a title="View details for this room" href="<TMPL_VAR NAME=base_url>?view=room&amp;view_type=single&amp;id=<TMPL_VAR NAME=id>"><TMPL_VAR ESCAPE=HTML NAME=name></a></td>
		<td><TMPL_VAR ESCAPE=HTML NAME=building_name></td>
		<td><TMPL_VAR ESCAPE=HTML NAME=notes></td>
	</tr></TMPL_LOOP>
</table>
<TMPL_ELSE>
<p>
	There are no room entries in RackMonkey, use the New button to add some.
</p>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.ssi">

</body>
</html>
