<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.%BUILD%                                                        #
# (C)2004-2008 Will Green (wgreen at users.sourceforge.net)                  #
# Row management template                                                    #
##############################################################################
-->
<head>
	<title>Manage Rows in <TMPL_VAR ESCAPE=HTML NAME=name> in <TMPL_VAR ESCAPE=HTML NAME=building_name> | RackMonkey</title>
	<style type="text/css" media="screen">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/form.css";
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>
<body>
<TMPL_INCLUDE NAME="nav-config.ssi">
	<div id="main">
		<table class="form">
			<tr>
				<th>
					<span class="title">Manage Rows</span>
				</th>
			</tr>
			<tr>
				<td>
					<div>
						<div class="key">Room</div>
						<div class="value"><TMPL_VAR ESCAPE=HTML NAME=name> in <TMPL_VAR ESCAPE=HTML NAME=building_name></div>
					</div>
					<div>					
						<span class="key">Organised into Rows</span>  <input <TMPL_IF has_rows>checked="checked"</TMPL_IF> type="checkbox" name="has_rows" /> 
					</div>
					<div>					
						<span class="key">Row Count</span> <input type="text" size="3" name="row_count" value="<TMPL_VAR ESCAPE=HTML NAME=row_count>"/>  
					</div>
					<p><em>This is a simplified version of the row manager. A full version will appear in a future release.</em></p>
				</td>
			</tr>
			<tr>
				<td class="footer">		
					<button style="float: left" title="Cancel changing rows in room" onclick="window.location = '<TMPL_VAR NAME=base_url>?view=room&amp;view_type=single&amp;id=<TMPL_VAR ESCAPE=URL NAME=id>'; return false;">Cancel</button>
					<button style="float: right" title="Save changes to rows in this room">Save</button>	
					<span class="updated">Entry last updated by <TMPL_VAR ESCAPE=HTML NAME=meta_update_user> at <TMPL_VAR ESCAPE=HTML NAME=meta_update_time> GMT</span>
				</td>
			</tr>
		</table>
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
